<div id="wrapper">
<div id="contents">
  <br><br>
  <%= form_tag( "/tools/login/complete", method: "post", id: "login_form" ) do %>
  <div id="login_box" class="center">
    <h3 class="c_align">Admin Login</h3>
    <table class="center">
      <tr>
	<td><b>Username: </b></td>
	<td><input type="text" value="" name="username" size="30" required /></td>
      </tr>
      <tr>
	<td><b>Password: </b></td>
	<td><input type="password" value="" name="password" size="30" required /></td>
      </tr>
      <tr>
	<td class="btn r_align" colspan="2">
	  <br><input type="submit" value="Login" class="btn" />
	</td>
      </tr>	
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
