<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Admin Login</h3>
  <%= form_tag( "/tools/login/complete", method: "post", id: "login_form" ) do %>
  <div id="login_box" class="center">
    <table class="center">
      <tr>
	<td></td>
	<td></td>
      </tr>
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
