<div id="footer">
  <table border="0">
    <tr>
      <td align="center">
	&copy; Freeup 2016 | 
	<a href="http://www.btoa-company.co.jp/" target="_blank">株式会社BtoA</a>
      </td>				
    </tr>
  </table>
</div>
