<div id="header">
  <p class="login_name"> Welcome, <%= current_user.name -%>! </p>
  <table id="nav">
    <tr>
      <td>
	<div class="menu_panel">
	  <ul class="main_menu">
	    <li><a href="/ringi">BtoA 稟議</a></li>
	  </ul>
	</div>
      </td>
    </tr>
  </table>
</div> <!-- header -->
